@use '/src/sass/base/variables.scss'as *;

@mixin h1 {
    font-family: "gilroy-bold";
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-align: center;
    color: $black-80;
}

@mixin h2 {
    font-family: "gilroy-bold";
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: $black-80;
}

@mixin h5-bold {
    font-family: "gilroy-regular";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: $black-80;
}

@mixin h5-light {
    font-family: "gilroy-light";
    font-weight: 400;
    font-size: 14px;
    color: $black-80;
}

@mixin sub {
    font-family: "gilroy-light";
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: -0.01em;
    text-align: center;
}

@mixin btn-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: -0.01em;
    color: $white;
}