$white: #fff;
$orange-shadow: rgba(255, 107, 0, 0.16);
$orange-shadow-2: 0 2px 2px 0 rgba(255, 107, 0, 0.03),
0 5px 4px 0 rgba(255, 107, 0, 0.04),
0 10px 8px 0 rgba(255, 107, 0, 0.05),
0 16px 13px 0 rgba(255, 107, 0, 0.06),
0 26px 21px 0 rgba(255, 107, 0, 0.07),
0 46px 37px 0 rgba(255, 107, 0, 0.08),
0 100px 80px 0 rgba(255, 107, 0, 0.11);
$red-shadow: rgba(226, 0, 26, 0.1);
$black-80: #13171d;
$blue-light: #015aa9;
$milk: #f4f9fc;
$red: #e2001a;
$orange: #ff6b00;
$circle-size: 90vw;