@use '/src/sass/base/variables.scss'as *;

.form {
    padding-top: 70px;

    &__date,
    &__time,
    &__phone {
        border: 1px solid #dadada;
        border-radius: 15px;
        padding: 11px 24px;
        width: 260px;
        height: 48px;
    }

    &__title-sale {
        display: block;
        position: absolute;
        font-family: "Bebas-Neue";
        font-weight: 700;
        font-size: 113px;
        letter-spacing: -0.01em;
        color: $orange;
        text-shadow: 0.125rem 1rem 1.3125rem rgba(255, 107, 0, 0.29);
        top: -66px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background: url('/src/img/sale/fire.svg') no-repeat;
            width: 207px;
            height: 242px;
            left: 75px;
        }
    }

    form {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 17px;
        align-items: center;
        text-align: center;
        border-radius: 30px;
        border: 1px solid #c7d1d7;
        padding: 80px 0 20px 0;

        &::before {
            content: '';
            position: absolute;
            background: $white;
            width: 190px;
            height: 30px;
            top: -18px;
        }

        span {
            color: $red;
        }

        button {
            width: 260px;
            height: 48px;
        }
    }
}

@media screen and (min-width: 768px) {
    .form {
        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat((4, 0.5fr));
            padding: 40px;

            button {
                width: 231px;
                height: 64px;
            }

            h2 {
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: left;
                width: 75%;
                font-size: 48px;
            }

            &::before {
                left: 67%;
            }
        }

        &__phone {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            height: 64px;
        }

        &__time {
            justify-self: end;
            width: 305px;
            height: 64px;
        }

        &__date {
            width: 305px;
            height: 64px;
        }

        &__title-sale {
            left: 70%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .form {
        form {
            display: flex;
            flex-direction: row;
            gap: 100px;

            &::before {
                left: 2%;
            }
        }

        &__inputs {
            display: grid;
            gap: 24px;
        }

        &__title-sale {
            left: 3%;
        }

    }
}

@media screen and (min-width:1920px) {
    .form {
        form {
            padding: 40px 111px;
            gap: 220px;

            &:before {
                left: 5.5%;
            }
        }

        &__title-sale {
            left: 6.5%;
        }
    }
}