@use '/src/sass/base/variables.scss'as *;

.happy-clients {
    padding-top: 60px;

    .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 38px;

        &-button-next,
        &-button-prev {
            display: none;
        }

        &-wrapper {
            margin-top: 40px;
        }

        &-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-pagination-bullet-active {
            background-color: $red;
        }
    }
}

@media screen and (min-width: 768px) {
    .happy-clients {
        .swiper {
            &-wrapper {
                &-slide {
                    width: 100%;
                }
            }



            &-button-next,
            &-button-prev {
                display: flex;
                position: absolute;
                top: 0;
                width: 70px;
            }

            &-button-prev {
                left: 87%;
            }

            &-button-next,
            &-button-prev {
                &::after {
                    display: none;
                }
            }
        }
    }
}