@use '/src/sass/base/variables.scss'as *;

.header {
    padding-top: 15px;
    z-index: 99;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-phone {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 23px;
        }
    }

    &__menu {
        &-gamburger {
            display: flex;
            flex-wrap: wrap;
            row-gap: 3px;
            align-items: center;
            width: 48px;
            height: 48px;
            padding: 12px;
            border-radius: 15px;
            box-shadow: 0 8px 16px 0 $orange-shadow;
            background: $white;

            .gamburger__line {
                display: block;
                width: 100%;
                background-color: $black-80;
                height: 3px;
                transition: all 0.5s;

                &_close {
                    transition: all 0.5s;

                    &:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        transform: translateY(-5px) rotate(-45deg);
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

        &-nav {
            margin-top: 77px;

            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 30px;

                a {
                    text-decoration: none;
                }
            }
        }

        &-address {
            display: flex;
            align-items: center;
            column-gap: 7px;
            margin-top: 25px;
        }

        &-wrapper {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: $white;
            padding: 10px 15px 30px;
            z-index: 1;
            transition: all 0.5s;
            right: 100%;
            margin-top: 60px;

            &_active {
                right: 0;
            }
        }

        &-map a {
            color: $blue-light;
        }

        &-phone {
            display: flex;
            flex-direction: column;
            gap: 8px;

            a {
                text-decoration: none;
            }
        }

        &-call {
            display: flex;
            padding: 16px;
            border-radius: 15px;
            background-color: $red-shadow;
            width: 48px;
            height: 48px;
        }
    }

    .wide {
        display: none;
    }

    .lg {
        display: none;
        margin-top: 0;
        margin-right: 20%;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding-bottom: 30px;
        border-radius: 25px;
        box-shadow: 0 5px 20px 0 #cddae1;

        &__menu-wrapper {
            width: 50vw;

            &_active {
                right: 50%;
            }
        }
    }


    .wide {
        display: flex !important;
        margin: 0;
        gap: 20px;

        a {
            text-decoration: none;
        }

        .header__menu-phone {
            flex-direction: row;
            gap: 8px;

            span {
                opacity: 0.2;
            }
        }
    }

    .hiden {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 10px 30px 10px 30px;

        .p-none {
            padding: 0;
        }


        &__menu {
            display: none;
        }
    }

    .lg {
        display: block !important;

        ul {
            flex-direction: row;
        }
    }
}