@use '/src/sass/base/variables.scss'as *;

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        &-gamburger {
            display: flex;
            flex-wrap: wrap;
            row-gap: 3px;
            align-items: center;
            width: 48px;
            height: 48px;
            padding: 12px;
            border-radius: 15px;
            box-shadow: 0 8px 16px 0 $orange-shadow;
            background: $white;

            .gamburger__line {
                display: block;
                width: 100%;
                background-color: $black-80;
                height: 3px;
            }
        }
    }
}