@use '/src/sass/base/variables.scss'as *;

.promo {
    position: relative;
    padding-top: 58px;

    &__sub {
        color: $gray;
    }

    &__circle {
        position: relative;
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        border: 1px dashed rgba(0, 0, 0, 0.5);
        background-color: transparent;

        &-image {
            position: absolute;
            top: -6%;
            left: 10%;
            width: 85%;
            object-fit: cover;

            &:nth-child(2) {
                width: 14%;
                top: 8%;
                left: 6%;
                padding: 10px;
                background-color: $white;
                border-radius: 50%;
            }

            &:nth-child(3) {
                width: 14%;
                top: 45%;
                left: 92%;
                padding: 10px;
                background-color: $white;
                border-radius: 50%;
            }

            &:nth-child(4) {
                width: 14%;
                top: 45%;
                left: -7%;
                padding: 10px;
                background-color: $white;
                border-radius: 50%;
            }

            &:nth-child(5) {
                width: 14%;
                top: 8%;
                left: 79%;
                padding: 10px;
                background-color: $white;
                border-radius: 50%;
            }

            &:nth-child(6) {
                width: 13%;
                top: 79%;
                left: 8%;
            }

            &:nth-child(7) {
                width: 14%;
                top: 78%;
                left: 79%;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__button {
        margin-top: 20px;
    }

    &__img {
        position: relative;
    }

    &__img-svg {
        display: flex;

        img {
            position: absolute;

            &:nth-child(2) {
                right: 0;
            }
        }
    }

    &__sale {
        margin-top: 44px;

        .sale {
            &__title {
                display: block;
                position: absolute;
                top: -45px;
                left: 72px;
                font-family: 'Bebas Neue';
                font-weight: 700;
                font-size: 113px;
                letter-spacing: -0.01em;
                color: $orange;
                text-shadow: 2px 16px 21px rgba(255, 107, 0, 0.29);

                &::before {
                    content: '';
                    position: absolute;
                    width: 172px;
                    height: 212px;
                    background: url('/src/img/sale/fire.svg') no-repeat;
                    background-size: cover;
                    left: 48%;
                    top: 2%;
                }
            }

            &__subtitle {
                color: $black-80;

                span {
                    font-weight: 700;
                }
            }

            &__timer {
                margin-top: 20px;

                .timer {
                    &__number-wrapper {
                        display: flex;
                        justify-content: center;
                        margin-top: 8px;
                        gap: 2px;
                    }

                    &__diviver {
                        font-size: 18px;
                    }

                    &__number {
                        font-size: 26px;
                    }

                    &__text {
                        font-size: 11px;
                        opacity: 0.5;
                    }
                }
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                justify-content: end;
                position: relative;
                border-radius: 30px;
                box-shadow: 0 3px 4px 0 rgba(255, 107, 0, 0.04),
                    0 9px 10px 0 rgba(255, 107, 0, 0.05),
                    0 21px 24px 0 rgba(255, 107, 0, 0.07),
                    0 71px 80px 0 rgba(255, 107, 0, 0.11);
                background: $white;
                width: 300px;
                height: 233px;
            }
        }
    }
}