.work-devices {
    padding-top: 67px;

    &__slider {
        padding-top: 40px;
        background-image: url('/src/img/sliders/bg.svg');
        position: relative;

        &-slide {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: start;

            &__text {
                display: inline;
            }

            img {
                width: 200px;
            }
        }

        .swiper-pagination {
            bottom: -30px;
        }

        .swiper-pagination-bullet-active {
            background-color: #e2001a;
        }
    }
}