@use '/src/sass/base/variables.scss'as *;

.work-devices {
    padding-top: 67px;

    &__slider {
        padding-top: 40px;
        position: relative;

        &-slide {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: start;
            background-image: url('/src/img/sliders/bg.svg') no-repeat;

            &__text {
                display: inline;
            }

            img {
                width: 200px;
            }
        }

        .swiper-pagination {
            bottom: -30px;
        }

        .swiper-pagination-bullet-active {
            background-color: $red;
        }

    }
}

@media screen and (min-width: 768px) {
    .work-devices {
        &__title {
            font-size: 40px;
        }

        .swiper {
            display: none;

            &-pagination,
            &-button-next {
                display: none;
            }
        }

        &__item {
            justify-items: center;
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);

            .item {
                &__bg {
                    background-image: url('/src/img/sliders/bg.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 302px;
                    height: 450px;
                }

                &__img {
                    position: relative;
                    width: 302px;
                    height: 400px;

                    img {
                        width: 249px;
                    }
                }

                &__text {
                    position: absolute;
                    bottom: 27%;
                    left: 5%;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .work-devices {}
}