@use '/src/sass/base/variables.scss'as *;
@use '/src/sass/base/mixins.scss'as*;

.btn-sm {
    @include btn-text;
    @include button;
    width: 146px;
    height: 48px;
}

.btn-lg {
    @include btn-text;
    @include button;
    width: 233px;
    height: 48px;
}