@use '/src/sass/base/mixins.scss'as *;

.title-h1 {
    @include h1;
    font-size: clamp(32px,
            calc(32px + (110 - 32) * ((100vw - 320px) / (1920 - 320))),
            110px);
}

.title-h2 {
    @include h2;
}

.title-h2-bold {
    @include h2;
    font-size: 26px;
}

.title-h5-bold {
    @include h5-bold;
}

.title-h5-light {
    @include h5-light;
}

.sub {
    @include sub;
}

.title-btn {
    @include btn-text;
}

.title-2 {
    @include slider-text;
}

@media screen and (min-width: 768px) {
    .title-h2-bold {
        font-size: 40px;
    }

    .title-h5-light {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .title-h2-bold {
        font-size: 56px;
    }
}